@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NanumSquare";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/NanumSquare-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "NanumSquare";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/NanumSquare-Bold.ttf") format("ttf");
}

body {
  font-family: "NanumSqure";
}

/* FullCalendar 헤더(연/월) 중앙정렬, 버튼 투명 */
.fc .fc-toolbar.fc-header-toolbar {
  justify-content: center;
  background: none;
  border: none;
  padding: 0;
  margin-bottom: 12px;
  margin-top: 16px ;
}
.fc .fc-toolbar-title {
  font-size: 20px;
  font-weight: 600;
  color: #222;
}
.fc .fc-prev-button {
  background: transparent;
  border: none;
  color: #222;
  font-size: 16px;
  padding: 0 12px;
  box-shadow: none;
  margin-right: 56px;
}

.fc .fc-next-button {
  background: transparent;
  border: none;
  color: #222;
  font-size: 16px;
  padding: 0 12px;
  box-shadow: none;
  margin-left: 56px;
}
.fc .fc-button:focus, .fc .fc-button-primary:focus {
  outline: none;
  box-shadow: none;
  display: flex;
  justify-content: space-between;
}

/* 요일 헤더 */
.fc .fc-col-header-cell {
  background: none;
  border: none;
  padding: 0;
  font-size: 15px;
  font-weight: 500;
  color: #888;
}
.fc .fc-col-header-cell:first-child { color: #d12c2c; } /* 일요일 빨강 */
.fc .fc-col-header-cell:last-child { color: #2478ff; }  /* 토요일 파랑 */

/* 날짜 셀 */
.fc .fc-daygrid-day {
  border: none;
  background: none;
}

.fc .fc-daygrid-day-number {
  
  
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 8px;
  font-size: 15px;
  font-weight: 500;
 
}
.fc .fc-daygrid-day.fc-day-other .fc-daygrid-day-number {
  color: #ccc;
  font-weight: 400;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.fc .fc-daygrid-day-top{
  
  width: 57px;
  display: flex;
  justify-items: center;
  align-items: center;
 
}



/* 일요일 날짜 빨강, 토요일 파랑 */
.fc .fc-day-sun .fc-daygrid-day-number { color: #d12c2c; }
.fc .fc-day-sat .fc-daygrid-day-number { color: #2478ff; }

/* 캘린더 전체 테두리, 셀 테두리 제거 */
.fc .fc-scrollgrid,
.fc .fc-scrollgrid-section,
.fc .fc-theme-standard td,
.fc .fc-theme-standard th{
  border: none !important;
}

.fc .fc-daygrid-day-events {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 선택한 날짜의 숫자 부분만 정사각형 하늘색 배경 */
.fc .selected-date .fc-daygrid-day-number {
  background: #3ea6ff !important;   /* 네이버 캘린더 하늘색 */
  color: #fff !important;
  border-radius: 8px !important;    /* 네이버는 8px 정도 */
  width: 32px !important;
  height: 32px !important;
 
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  margin: 0 auto;               
  box-sizing: border-box;
  font-weight: 600;
  font-size: 14px; 
 
  /* 셀 전체 배경은 투명하게 유지 */
}



